@charset "utf-8";

#npub,
#relays-read,
#relays-write,
#npub-send,
#message {
	width: 90%;
}
#relays-read,
#relays-write,
#message {
	height: 10em;
}
#dm dt img:first-child {
	width: 32px;
	height: 32px;
}
#dm dt img {
	width: 16px;
	height: 16px;
}
#dm dd {
	word-break: break-all;
	max-width: 90%;
}
#dm dd details {
	max-width: 90%;
}
#dm dd details code {
	display: block;
	overflow-x: auto;
}
.warning {
	border: 2px solid red;
}
